%tr
  %td{:class=>"label"} Scheduler
  %td{:class => "field", :style => "text-align: center"}
    %label{:for => "page_appears_on", :style => "padding: 0 10px;"} Publish date
    = text_field "page", "appears_on", :size => 15, :class => 'date'
    %label{:for => "page_expires_on", :style => "padding: 0 10px;"} Expiration date
    = text_field "page", "expires_on", :size => 15, :class => 'date'


